body{
	margin: 0;
}
.square{
	width: 10%;
	height: 50%;
	background: #E5C3B2;
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
}
.basic-research{
	
}

.drug-discovery{
	background: #b3b2e5;
	left: 10%;
}