body{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.container{
	flex: 1;
}
.nav-pills .nav-link.active{
			background-color: #ffffff;
		}

.navbar-brand{
	margin-left: 1%;
}

.row{
	margin-top: 1.5%;
	margin-bottom: 1.5%;
}
/*index*/
.card{
	text-decoration: none;
}

/*confusing matrix*/
.confusion-table{
	text-align: center;
}

/*sample_size*/

.proportions-input{
	display: none;
}

.means-input{
	display: flex;
}

#Calculate{
	margin: 2rem 8% 2rem 8%;
}

#Results{
	text-align: center;
	font-size: x-large;
	font-weight: bold;
}

#infoSmallSampleSize{
	display: none;
}

@media (max-width: 767.98px){
	#Calculate{
		width: 80%;
	}
	
	#test{
		transform: rotate(180deg);
		writing-mode: vertical-lr;
		text-orientation: mixed;
	}
}